@font-face {
  font-family: "bon";
  src: url("./font/bon/BonVivant-Regular.otf");
  font-style: normal;
}

@font-face {
  font-family: "bon";
  src: url("font/bon/BonVivantSerif-Bold.otf");
  font-style: italic;
}

@font-face {
  font-family: "bon";
  src: url("font/bon/BonVivantSerif.otf");
  font-style: italic;
}
