/******************
Barba
******************/
.loading-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: #655f4d;
  will-change: height;
  /* Loading screen from left to right */
  width: 100%;
  /* Loading screen from top to bottom */
  height: 0;
}

.load-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
}

.load-img {
  opacity: 0;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  width: 300px;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  will-change: opacity;
  overflow: hidden;
}

.txt_wrapper {
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  text-align: center;
}

.txt {
  font-size: 5rem;
  overflow: hidden;
  color: white;
  opacity: 0;
  letter-spacing: 0.7rem;
}

.reveal_txt {
  opacity: 1;
  transform: translate3d(0, 110%, 0);
  display: inline-block;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
  will-change: transform;
  transform-style: preserve-3d;
}

.reveal_txt.Fadein {
  opacity: 1;
  transform: translate3d(0, 0px, 0);
}

.reveal_txt.Fadeout {
  transform: translate3d(0, -100%, 0);
}

@media screen and (max-width: 769px) {
  .txt {
    font-size: 50px;
  }
}
/******************
First Loading Animaion
******************/
.loading-animation {
  height: 100vh;
  width: 100vw;
  background: #333333;
  transition: all 1s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
}

.loading-animation.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.loading-animation,
.loading-animation * {
  box-sizing: border-box;
}

.loading-animation .spinner {
  height: 8.6666666667px;
  width: 8.6666666667px;
  animation-duration: 2000ms;
  top: 50%;
  left: 50%;
  background-color: #f2f252;
  position: absolute;
  animation-iteration-count: infinite;
}

.loading-animation .spinner.big {
  height: 21.6666666667px;
  width: 21.6666666667px;
  animation: spinner-animation-child-big 2s infinite;
  animation-delay: 0.5s;
}

.loading-animation .spinner:nth-child(2n+0) {
  margin-right: 0;
}

.loading-animation .spinner.child-1 {
  animation-name: spinner-animation-child-1;
  animation-delay: 100ms;
}

.loading-animation .spinner.child-2 {
  animation-name: spinner-animation-child-2;
  animation-delay: 200ms;
}

.loading-animation .spinner.child-3 {
  animation-name: spinner-animation-child-3;
  animation-delay: 300ms;
}

.loading-animation .spinner.child-4 {
  animation-name: spinner-animation-child-4;
  animation-delay: 400ms;
}

.loading-animation .spinner.child-5 {
  animation-name: spinner-animation-child-5;
  animation-delay: 500ms;
}

.loading-animation .spinner.child-6 {
  animation-name: spinner-animation-child-6;
  animation-delay: 600ms;
}

.loading-animation .spinner.child-7 {
  animation-name: spinner-animation-child-7;
  animation-delay: 700ms;
}

.loading-animation .spinner.child-8 {
  animation-name: spinner-animation-child-8;
  animation-delay: 800ms;
}

@keyframes spinner-animation-child-1 {
  50% {
    transform: translate(-325%, -325%);
  }
}
@keyframes spinner-animation-child-2 {
  50% {
    transform: translate(0, -325%);
  }
}
@keyframes spinner-animation-child-3 {
  50% {
    transform: translate(325%, -325%);
  }
}
@keyframes spinner-animation-child-4 {
  50% {
    transform: translate(325%, 0);
  }
}
@keyframes spinner-animation-child-5 {
  50% {
    transform: translate(325%, 325%);
  }
}
@keyframes spinner-animation-child-6 {
  50% {
    transform: translate(0, 325%);
  }
}
@keyframes spinner-animation-child-7 {
  50% {
    transform: translate(-325%, 325%);
  }
}
@keyframes spinner-animation-child-8 {
  50% {
    transform: translate(-325%, 0);
  }
}
@keyframes spinner-animation-child-big {
  50% {
    transform: scale(0.5);
  }
}
@font-face {
  font-family: "bon";
  src: url("./font/bon/BonVivant-Regular.otf");
  font-style: normal;
}
@font-face {
  font-family: "bon";
  src: url("font/bon/BonVivantSerif-Bold.otf");
  font-style: italic;
}
@font-face {
  font-family: "bon";
  src: url("font/bon/BonVivantSerif.otf");
  font-style: italic;
}
body,
html {
  background: #fcfcfc;
  color: black;
  width: 100%;
  min-height: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  font-size: 18px;
  box-sizing: border-box;
  font-family: "bon";
  font-style: normal;
}

body,
h1,
h2,
p,
figure,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  opacity: 1;
  visibility: visible;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  color: #242424;
  text-decoration: none;
}

*:focus {
  outline: 0 !important;
}

a,
a:focus {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

p:not(.txt) {
  color: #717171;
  font-size: 18px;
  font-family: "Helvetica Neue";
  font-style: normal;
  line-height: 1.2rem;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.sub-headline {
  color: #242424;
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 30px;
}

/******************
Nav
******************/
nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  padding: 30px 1em;
}
nav #logo {
  font-size: 2rem;
  font-weight: 100;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 0.1rem;
}

nav > div {
  flex: 1;
}

.toggle-btn {
  display: flex;
  justify-content: flex-end;
  padding: 0 1.5em;
}
@media screen and (max-width: 769px) {
  .toggle-btn {
    padding: 0;
  }
}
.toggle-btn .burger {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em 2em;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 0.25em;
  outline: none;
  height: 20px;
  width: 28px;
  border: none;
  transition: all 250ms ease-out;
  cursor: pointer;
}
.toggle-btn .burger:hover {
  background: rgb(255, 255, 255);
}
.toggle-btn .burger:hover:before, .toggle-btn .burger:hover:after {
  background: #242424;
}
.toggle-btn .burger:before, .toggle-btn .burger:after {
  content: "";
  width: 28px;
  height: 1.5px;
  position: absolute;
  background: #242424;
  transition: all 250ms ease-out;
  /* transition-delay: 0.3s; */
  will-change: transform;
}
.toggle-btn .burger:before {
  transform: translateY(-3px);
}
.toggle-btn .burger:after {
  transform: translateY(3px);
}
.toggle-btn .burger.active:before {
  transform: translateY(0) rotate(45deg);
}
.toggle-btn .burger.active:after {
  transform: translateY(0) rotate(-45deg);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
}
.overlay .block {
  flex: 1;
  height: 100%;
  background: #483980;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  margin-right: -2px;
}

.overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 10em 5em;
}
@media screen and (max-width: 769px) {
  .overlay-menu {
    padding: 100px 20px;
  }
}
.overlay-menu .menu-item,
.overlay-menu .menu-title {
  flex: 1;
  width: 100%;
  opacity: 0;
}
.overlay-menu .menu-item {
  display: flex;
  padding: 1em;
  transition: 0.3s;
  align-items: center;
}
@media screen and (max-width: 769px) {
  .overlay-menu .menu-item {
    padding: 0;
  }
}
.overlay-menu .menu-item .menu-item-year,
.overlay-menu .menu-item .menu-item-link {
  flex: 1;
}
.overlay-menu .menu-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay-menu .menu-title p {
  color: #d2d2d2;
}
.overlay-menu .menu-item-year p {
  color: #d2d2d2;
}
.overlay-menu .menu-item-name {
  flex: 3;
  display: flex;
  justify-content: center;
}
.overlay-menu .menu-item-name p {
  color: #d2d2d2;
  font-family: "PP Formula";
  font-size: 4vw;
  text-align: center;
}
@media screen and (max-width: 769px) {
  .overlay-menu .menu-item-name p {
    font-size: 8vw;
  }
}
.overlay-menu .menu-item-link {
  color: #d2d2d2;
  font-family: "Helvetica Neue";
  text-align: right;
}
.overlay-menu .menu-item-link a {
  color: #d2d2d2;
  text-transform: uppercase;
  position: relative;
}
@media screen and (max-width: 769px) {
  .overlay-menu .menu-item-link a {
    font-size: 15px;
  }
}
.overlay-menu .menu-item-link a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 10%;
  width: 80%;
  height: 2px;
  background: #d2d2d2;
  transition: all 0.3s;
  transform: scale(0, 1);
  transform-origin: center top;
}
.overlay-menu .menu-item-link a:hover::after {
  transform: scale(1, 1);
}

@media screen and (max-width: 769px) {
  .load-container .load-img {
    max-width: 250px;
  }
}

/*******************
Home page
*******************/
#home {
  display: block;
  position: relative;
  z-index: 0;
  height: 100%;
  background: #fcfcfc;
}
@media screen and (max-width: 769px) {
  #home {
    margin-top: 26%;
  }
}
#home section.item {
  height: 100vh;
  margin: 100px 0;
}
@media screen and (max-width: 769px) {
  #home section.item {
    height: 100%;
    margin: 50px 0;
  }
}
#home section.item:last-child {
  margin: 100px 0 0;
}
@media screen and (max-width: 769px) {
  #home section.item:last-child {
    margin: 50px 0;
  }
}
#home .inner_item.home {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
}
@media screen and (max-width: 769px) {
  #home .inner_item.home {
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
#home .inner_item.home .img_container {
  height: 100%;
  align-self: center;
  transform-origin: center center;
}
@media screen and (max-width: 769px) {
  #home .inner_item.home .img_container img {
    width: 100%;
    height: auto;
  }
}
#home .inner_item.home h1 {
  display: grid;
  text-align: center;
  align-content: center;
  writing-mode: tb;
  color: #242424;
  font-size: 10vw;
  font-weight: lighter;
  font-style: italic;
  margin: 20px auto;
  word-break: break-word;
}
@media screen and (max-width: 769px) {
  #home .inner_item.home h1 {
    font-size: 50px;
    font-weight: bold;
    writing-mode: unset;
    display: inline-block;
    color: #242424;
    margin: 0 0 20px;
  }
}
#home .inner_item.home img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#home .inner_item.home .project_info {
  display: grid;
  place-content: center;
}
@media screen and (max-width: 769px) {
  #home .inner_item.home .project_info {
    place-content: unset;
    width: 90%;
    margin: 0 auto;
  }
}
#home .inner_item.home .project_info div {
  margin: 30px 0 10px;
}
@media screen and (max-width: 769px) {
  #home .inner_item.home .project_info div {
    margin: 10px 0;
  }
}
#home .inner_item.home .project_info h3 {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  margin: 0 0 10px 0;
}
@media screen and (max-width: 769px) {
  #home .inner_item.home .project_info h3 {
    margin: 0;
  }
}
#home .inner_item.home .project_info p,
#home .inner_item.home .project_info a {
  color: #717171;
  font-family: "Helvetica Neue";
  font-size: 1rem;
  font-style: italic;
  font-weight: normal;
  margin: 0;
}
#home .inner_item.home .project_info .service p:nth-child(1) {
  margin-bottom: 0 !important;
}
@media screen and (max-width: 769px) {
  #home .inner_item.home .project_info .btn {
    justify-self: end;
  }
}
#home .inner_item.home .project_info .btn a {
  text-transform: uppercase;
  position: relative;
}
#home .inner_item.home .project_info .btn a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 10%;
  width: 80%;
  height: 2px;
  background: #483980;
  transition: all 0.3s;
  transform: scale(0, 1);
  transform-origin: center top;
}
#home .inner_item.home .project_info .btn a:hover::after {
  transform: scale(1, 1);
}

@media screen and (max-width: 1024px) {
  header nav label.mobile_detail {
    color: #242424;
  }
}
/*******************
Project
********************/
.img-wrapper {
  overflow: hidden;
}
.img-wrapper.inView img:not(.collection_container img) {
  filter: blur(0px);
}
.img-wrapper img:not(.collection_container img) {
  filter: blur(20px);
  transition: filter 1.5s ease;
}

main.project {
  background: #fcfcfc;
  margin: 50px auto;
  width: 90%;
}
main.project .hero_container {
  height: 100vh;
  margin: 100px auto;
}
@media screen and (max-width: 769px) {
  main.project .hero_container {
    margin: 10vh auto 0;
    height: 100%;
  }
}
main.project .hero_container .hero-title {
  height: 20vh;
  margin: 5vh 0;
}
@media screen and (max-width: 769px) {
  main.project .hero_container .hero-title {
    height: -moz-max-content;
    height: max-content;
  }
}
main.project .hero_container .hero-title h1 {
  font-family: "Helvetica Neue";
  font-weight: 300;
  font-style: normal;
  font-size: 10rem;
  text-align: center;
}
@media screen and (max-width: 769px) {
  main.project .hero_container .hero-title h1 {
    font-size: 3.4rem;
  }
}
main.project .hero_container .hero-img_container {
  height: 80vh;
  margin-top: 100px;
}
@media screen and (max-width: 769px) {
  main.project .hero_container .hero-img_container {
    margin-top: 0;
    height: auto;
  }
}
main.project .hero_container .hero-img_container img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main.project .project-detail_container {
  padding: 200px 0 100px;
  height: auto;
}
@media screen and (max-width: 769px) {
  main.project .project-detail_container {
    padding: 100px 0 0;
  }
}
@media screen and (max-width: 769px) {
  main.project .project-detail_container .sub-headline {
    font-size: 3rem;
    margin-bottom: 0;
  }
}
main.project .project-detail_container p {
  font-size: 2rem;
  line-height: 40px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 20vh;
}
@media screen and (max-width: 769px) {
  main.project .project-detail_container p {
    font-size: 1rem;
    line-height: 1.1rem;
  }
}
main.project .project-detail_container p:nth-child(2) {
  width: 50%;
  justify-content: start;
}
@media screen and (max-width: 769px) {
  main.project .project-detail_container p:nth-child(2) {
    width: 70%;
    margin-bottom: 10vh;
  }
}
main.project .project-detail_container p:nth-child(3) {
  width: 50%;
  margin-left: auto;
}
@media screen and (max-width: 769px) {
  main.project .project-detail_container p:nth-child(3) {
    width: 70%;
    margin-bottom: 10vh;
  }
}
main.project .project-detail_container a {
  color: #717171;
}
main.project .images_container {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin: 200px 0;
}
@media screen and (max-width: 769px) {
  main.project .images_container {
    margin: 50px 0;
    gap: 20px;
  }
}
main.project .images_container div {
  height: 450px;
  max-width: 350px;
  overflow: hidden;
}
@media screen and (max-width: 769px) {
  main.project .images_container div {
    width: 100%;
    height: auto;
  }
}
main.project .images_container div img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
main.project .text-img__container {
  padding: 400px 0;
}
@media screen and (max-width: 769px) {
  main.project .text-img__container {
    padding: 50px 0;
  }
}
main.project .text-img__container.flex-justify-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main.project .text-img__container.flex-justify-between div {
  flex: 1;
}
main.project .text-img__container.flex-justify-between .quote {
  flex: 1;
  padding: 0 30px;
  font-size: 3rem;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
  margin-bottom: 0;
}
@media screen and (max-width: 769px) {
  main.project .text-img__container.flex-justify-between .quote {
    font-size: 1.4rem;
    line-height: 1.1em;
    padding: 0 10px;
  }
}
main.project .collection_container {
  height: 100%;
}
@media screen and (max-width: 769px) {
  main.project .collection_container {
    margin: 60px 0;
  }
}
main.project .collection_container .collection_inner {
  padding: 50px 0;
  width: 100vw !important;
  margin-left: calc((100vw - 100%) / -2);
  margin-right: calc((100vw - 100%) / -2);
  overflow-x: hidden;
}
@media screen and (max-width: 769px) {
  main.project .collection_container .collection_inner {
    padding: 0;
  }
}
main.project .collection_container .collection--images_container {
  padding: 100px 0;
}
@media screen and (max-width: 769px) {
  main.project .collection_container .collection--images_container {
    padding: 20px 0;
  }
}
main.project .collection_container .collection--images_container .collection--images_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main.project .collection_container .collection--images_container figure:not(:last-child) {
  margin-right: 2%;
}
main.project .collection_container .collection--images_container figure .img_wrap {
  max-width: 350px;
}

.home_link a {
  color: #717171;
  font-size: 1.4rem;
  font-family: "Helvetica Neue";
  font-style: normal;
  line-height: 1.2rem;
}/*# sourceMappingURL=style.css.map */