@font-face {
  font-family: "bon";
  src: url("./font/bon/BonVivant-Regular.otf");
  font-style: normal;
}
@font-face {
  font-family: "bon";
  src: url("font/bon/BonVivantSerif-Bold.otf");
  font-style: italic;
}
@font-face {
  font-family: "bon";
  src: url("font/bon/BonVivantSerif.otf");
  font-style: italic;
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "bon";
  font-style: normal;
}

body {
  opacity: 1;
  visibility: visible;
}

.loading-animation {
  height: 100vh;
  width: 100vw;
  background: #333333;
  transition: all 1s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
}

.loading-animation.loaded {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.loading-animation,
.loading-animation * {
  box-sizing: border-box;
}

.loading-animation .spinner {
  height: 8.6666666667px;
  width: 8.6666666667px;
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
  top: 50%;
  left: 50%;
  background-color: #f2f252;
  position: absolute;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.loading-animation .spinner.big {
  height: 21.6666666667px;
  width: 21.6666666667px;
  -webkit-animation: spinner-animation-child-big 2s infinite;
          animation: spinner-animation-child-big 2s infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.loading-animation .spinner:nth-child(2n+0) {
  margin-right: 0;
}

.loading-animation .spinner.child-1 {
  -webkit-animation-name: spinner-animation-child-1;
          animation-name: spinner-animation-child-1;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.loading-animation .spinner.child-2 {
  -webkit-animation-name: spinner-animation-child-2;
          animation-name: spinner-animation-child-2;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.loading-animation .spinner.child-3 {
  -webkit-animation-name: spinner-animation-child-3;
          animation-name: spinner-animation-child-3;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.loading-animation .spinner.child-4 {
  -webkit-animation-name: spinner-animation-child-4;
          animation-name: spinner-animation-child-4;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.loading-animation .spinner.child-5 {
  -webkit-animation-name: spinner-animation-child-5;
          animation-name: spinner-animation-child-5;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.loading-animation .spinner.child-6 {
  -webkit-animation-name: spinner-animation-child-6;
          animation-name: spinner-animation-child-6;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.loading-animation .spinner.child-7 {
  -webkit-animation-name: spinner-animation-child-7;
          animation-name: spinner-animation-child-7;
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}

.loading-animation .spinner.child-8 {
  -webkit-animation-name: spinner-animation-child-8;
          animation-name: spinner-animation-child-8;
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

@-webkit-keyframes spinner-animation-child-1 {
  50% {
    transform: translate(-325%, -325%);
  }
}

@keyframes spinner-animation-child-1 {
  50% {
    transform: translate(-325%, -325%);
  }
}
@-webkit-keyframes spinner-animation-child-2 {
  50% {
    transform: translate(0, -325%);
  }
}
@keyframes spinner-animation-child-2 {
  50% {
    transform: translate(0, -325%);
  }
}
@-webkit-keyframes spinner-animation-child-3 {
  50% {
    transform: translate(325%, -325%);
  }
}
@keyframes spinner-animation-child-3 {
  50% {
    transform: translate(325%, -325%);
  }
}
@-webkit-keyframes spinner-animation-child-4 {
  50% {
    transform: translate(325%, 0);
  }
}
@keyframes spinner-animation-child-4 {
  50% {
    transform: translate(325%, 0);
  }
}
@-webkit-keyframes spinner-animation-child-5 {
  50% {
    transform: translate(325%, 325%);
  }
}
@keyframes spinner-animation-child-5 {
  50% {
    transform: translate(325%, 325%);
  }
}
@-webkit-keyframes spinner-animation-child-6 {
  50% {
    transform: translate(0, 325%);
  }
}
@keyframes spinner-animation-child-6 {
  50% {
    transform: translate(0, 325%);
  }
}
@-webkit-keyframes spinner-animation-child-7 {
  50% {
    transform: translate(-325%, 325%);
  }
}
@keyframes spinner-animation-child-7 {
  50% {
    transform: translate(-325%, 325%);
  }
}
@-webkit-keyframes spinner-animation-child-8 {
  50% {
    transform: translate(-325%, 0);
  }
}
@keyframes spinner-animation-child-8 {
  50% {
    transform: translate(-325%, 0);
  }
}
@-webkit-keyframes spinner-animation-child-big {
  50% {
    transform: scale(0.5);
  }
}
@keyframes spinner-animation-child-big {
  50% {
    transform: scale(0.5);
  }
}
li {
  list-style: none;
}

a {
  color: #000000;
  text-decoration: none;
}

*:focus {
  outline: 0 !important;
}

a,
a:focus {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}

.wrapper header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 90%;
  margin: 0 auto;
  font-family: "Helvetica Neue";
  font-size: 26px;
  font-style: italic;
}
.wrapper header h2 {
  text-transform: uppercase;
}
.wrapper header h2 a {
  font-weight: lighter;
}
@media screen and (max-width: 1024px) {
  .wrapper header h2 a {
    color: #ffffff;
  }
}
.wrapper header nav #menu[type=checkbox] {
  display: none;
}
.wrapper header nav .open,
.wrapper header nav .close {
  position: relative;
}
@media screen and (max-width: 1024px) {
  .wrapper header nav .open,
.wrapper header nav .close {
    color: #ffffff;
  }
}
.wrapper header nav .open::after,
.wrapper header nav .close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 10%;
  width: 80%;
  height: 1px;
  background: #000000;
  transition: all 0.3s;
  transform: scale(0, 1);
  transform-origin: center top;
}
.wrapper header nav .open:hover::after,
.wrapper header nav .close:hover::after {
  transform: scale(1, 1);
}
.wrapper header nav .open {
  display: inline-block;
  cursor: pointer;
}
.wrapper header nav .close {
  display: none;
  pointer-events: none;
}
.wrapper header nav #menu:checked ~ .open {
  display: none;
  pointer-events: none;
}
.wrapper header nav #menu:checked ~ .close {
  display: inline-block;
  cursor: pointer;
  color: white;
  pointer-events: all;
  position: relative;
  z-index: 10;
}
.wrapper header nav .menu_bg {
  display: none;
}
.wrapper header nav .menu_lists {
  display: none;
}
.wrapper header nav #menu:checked ~ .menu_bg {
  display: block;
  position: fixed;
  z-index: 1;
  background: #000000;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
}
.wrapper header nav #menu:checked ~ .menu_bg .menu_lists {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  margin: 0;
  padding: auto;
  overflow: hidden;
}
.wrapper header nav #menu:checked ~ .menu_bg .menu_lists li {
  margin: 20px 0;
}
.wrapper header nav #menu:checked ~ .menu_bg .menu_lists a {
  color: white;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: lighter;
}
.wrapper main {
  /*single Project page*/
}
.wrapper main[data-state=home] {
  display: block;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow: auto;
  height: 100vh;
}
@media screen and (max-width: 1024px) {
  .wrapper main[data-state=home] {
    background: #261f1f;
    color: #ffffff;
    padding: 100px 20px 0;
  }
}
.wrapper main[data-state=home] [data-scene=gallery] {
  display: block;
}
.wrapper main[data-state=home] [data-scene=detail] {
  display: none;
}
.wrapper main[data-state=home] section.item {
  scroll-snap-align: start;
  height: 100vh;
}
@media screen and (max-width: 1024px) {
  .wrapper main[data-state=home] section.item {
    margin-top: 50px;
    height: auto;
    scroll-snap-align: unset;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper main[data-state=home] section.item:nth-child(2n) .inner_item.home {
    grid-auto-flow: column;
    direction: rtl;
  }
}
.wrapper main[data-state=home] .inner_item.home {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
}
@media screen and (max-width: 1024px) {
  .wrapper main[data-state=home] .inner_item.home {
    grid-template-columns: 2fr auto;
    position: relative;
    height: 70vh;
    gap: 20px;
  }
}
.wrapper main[data-state=home] .inner_item.home .img_container {
  height: 100%;
  align-self: center;
}
@media screen and (max-width: 1024px) {
  .wrapper main[data-state=home] .inner_item.home .img_container {
    order: 1;
    max-width: 200px;
    height: 250px;
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper main[data-state=home] .inner_item.home .img_container img {
    width: 100%;
    height: 100%;
  }
}
.wrapper main[data-state=home] .inner_item.home h1 {
  position: relative;
  display: grid;
  text-align: center;
  align-content: center;
  -ms-writing-mode: tb;
      writing-mode: tb;
  color: #000000;
  font-size: 10vw;
  font-weight: lighter;
  font-style: italic;
  margin: 20px auto;
  word-break: break-word;
  mix-blend-mode: overlay;
}
@media screen and (max-width: 1024px) {
  .wrapper main[data-state=home] .inner_item.home h1 {
    font-size: 50px;
    font-weight: bold;
    -ms-writing-mode: unset;
        writing-mode: unset;
    order: 2;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    mix-blend-mode: unset;
    color: #ffffff;
  }
}
.wrapper main[data-state=home] .inner_item.home img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper main[data-state=home] .inner_item.home .project_info {
  display: grid;
  place-content: center;
}
@media screen and (max-width: 1024px) {
  .wrapper main[data-state=home] .inner_item.home .project_info {
    order: 3;
    align-self: center;
    text-align: left;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-width: 140px;
    margin: 0 10px;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper main[data-state=home] .inner_item.home .project_info .client {
    margin: 0;
  }
}
.wrapper main[data-state=home] .inner_item.home .project_info div {
  margin: 30px 0;
}
.wrapper main[data-state=home] .inner_item.home .project_info h3 {
  font-weight: bold;
  font-size: 2vw;
  font-style: italic;
  margin: 0 0 10px 0;
}
@media screen and (max-width: 1024px) {
  .wrapper main[data-state=home] .inner_item.home .project_info h3 {
    font-size: 8vw;
  }
}
.wrapper main[data-state=home] .inner_item.home .project_info p,
.wrapper main[data-state=home] .inner_item.home .project_info a {
  color: #000000;
  font-size: 1.3rem;
  font-style: italic;
  margin: 0;
}
@media screen and (max-width: 1024px) {
  .wrapper main[data-state=home] .inner_item.home .project_info p,
.wrapper main[data-state=home] .inner_item.home .project_info a {
    color: #ffffff;
    font-size: 1.2rem;
  }
}
.wrapper main[data-state=home] .inner_item.home .project_info .service p:nth-child(1) {
  margin-bottom: 0 !important;
}
@media screen and (max-width: 1024px) {
  .wrapper main[data-state=home] .inner_item.home .project_info .service p {
    margin: 8px 0;
    font-size: 1em;
    font-style: italic;
    font-weight: lighter;
  }
}
.wrapper main[data-state=home] .inner_item.home .project_info .btn a {
  text-transform: uppercase;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .wrapper main[data-state=home] .inner_item.home .project_info .btn a {
    background: white;
    border: solid 1px white;
    color: #000000;
    font-size: 0.8rem;
    padding: 6px 12px;
  }
}
.wrapper main[data-state=home] .inner_item.home .project_info .btn a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 10%;
  width: 80%;
  height: 1px;
  background: #000000;
  transition: all 0.3s;
  transform: scale(0, 1);
  transform-origin: center top;
}
.wrapper main[data-state=home] .inner_item.home .project_info .btn a:hover::after {
  transform: scale(1, 1);
}
.wrapper main[data-state=detail] {
  -ms-scroll-snap-type: unset;
      scroll-snap-type: unset;
  overflow: unset;
  height: auto;
}
.wrapper main[data-state=detail] [data-scene=gallery] {
  display: none;
}
.wrapper main[data-state=detail] [data-scene=detail]:not(.matched) {
  display: none;
}
.wrapper main[data-state=detail] .item {
  opacity: 0;
  visibility: hidden;
  height: 0;
}
.wrapper main[data-state=detail] .item.matched {
  opacity: 1;
  visibility: visible;
  height: 100%;
  padding: 10vh 0;
}
@media screen and (max-width: 1024px) {
  .wrapper main[data-state=detail] .item.matched {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.wrapper main[data-state=detail] [data-item=one] {
  background-color: #f4ead6;
}
.wrapper main[data-state=detail] [data-item=two] {
  background-color: #dff4ff;
}
.wrapper main[data-state=detail] [data-item=three] {
  background-color: #fffaf0;
}
.wrapper main[data-state=detail] [data-item=four] {
  background-color: rgba(255, 227, 169, 0.8117647059);
}
.wrapper main .detail_wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.wrapper main .detail_wrapper h1 {
  color: #000000;
  text-align: center;
  font-weight: lighter;
  font-style: italic;
  font-size: 7rem;
  margin: 0;
}
@media screen and (max-width: 1024px) {
  .wrapper main .detail_wrapper h1 {
    font-size: 4rem;
    margin: 50px auto;
  }
}
.wrapper main .detail_wrapper .img_container img {
  max-height: 60vh !important;
  -o-object-fit: cover;
     object-fit: cover;
}
.wrapper main .detail_wrapper .inner_detail .detail_img {
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.5, 0, 0.5, 1);
}
.wrapper main .detail_wrapper .inner_detail .detail_img.in_view {
  opacity: 1;
}
.wrapper main .detail_wrapper .inner_detail h2 {
  text-align: left;
  font-style: italic;
  font-size: 50px;
}
@media screen and (max-width: 1024px) {
  .wrapper main .detail_wrapper .inner_detail h2 {
    font-size: 40px;
    font-weight: normal;
  }
}
.wrapper main .detail_wrapper .inner_detail p {
  font-family: auto;
  font-size: 26px;
  font-style: italic;
  line-height: 1.25em;
  text-align: left;
}
@media screen and (max-width: 1024px) {
  .wrapper main .detail_wrapper .inner_detail p {
    font-size: 20px;
  }
}
.wrapper main .detail_wrapper .inner_detail .img_wrapper {
  margin: 110px 0;
  justify-content: space-around;
  display: flex;
  height: 800px;
}
@media screen and (max-width: 1024px) {
  .wrapper main .detail_wrapper .inner_detail .img_wrapper {
    margin-bottom: 0;
  }
}
.wrapper main .detail_wrapper .inner_detail .img_wrapper div {
  max-width: 350px;
}
@media screen and (max-width: 1024px) {
  .wrapper main .detail_wrapper .inner_detail .img_wrapper div {
    max-width: 200px;
  }
}
.wrapper main .detail_wrapper .inner_detail .img_wrapper div:nth-child(2) {
  transform: rotate(10deg);
  align-self: end;
}
@media screen and (max-width: 1024px) {
  .wrapper main .detail_wrapper .inner_detail .img_wrapper div:nth-child(2) {
    transform: none;
    align-self: center;
    margin-top: 100px;
  }
}
.wrapper main .detail_wrapper .inner_detail .img_descr {
  display: flex;
  gap: 100px;
  padding: 100px 0 150px;
}
@media screen and (max-width: 1024px) {
  .wrapper main .detail_wrapper .inner_detail .img_descr {
    display: block;
    padding: 0;
  }
}
.wrapper main .detail_wrapper .inner_detail .img_descr div {
  max-width: 400px;
}
@media screen and (max-width: 1024px) {
  .wrapper main .detail_wrapper .inner_detail .img_descr div {
    max-width: 250px;
  }
}
.wrapper main .detail_wrapper .inner_detail .img_descr p {
  align-self: center;
  margin: 0;
}
@media screen and (max-width: 1024px) {
  .wrapper main .detail_wrapper .inner_detail .img_descr p {
    margin: 20px 0;
  }
}
.wrapper main .detail_wrapper .inner_detail .collection_wrapper {
  position: relative;
  padding: 500px 0 0;
  height: 60vh;
  width: 100%;
  overflow: hidden;
}
@media screen and (min-width: 1600px) {
  .wrapper main .detail_wrapper .inner_detail .collection_wrapper {
    width: 100vw;
    margin-left: calc((100vw - min(1200px, 100%)) / -2);
  }
}
@media screen and (max-width: 1024px) {
  .wrapper main .detail_wrapper .inner_detail .collection_wrapper {
    padding: 100px 0;
    height: auto;
    width: 100vw;
    margin-left: calc((100vw - min(390px, 100%)) / -2);
  }
}
.wrapper main .detail_wrapper .inner_detail .collection_wrapper h3 {
  text-align: center;
  font-style: italic;
  font-size: 160px;
  -ms-writing-mode: tb;
      writing-mode: tb;
  margin: 0 auto;
  position: absolute;
  z-index: 0;
  color: #a2a2a2;
  left: 50%;
  bottom: 0;
  top: 60%;
  opacity: 0.3;
  letter-spacing: 1rem;
}
@media screen and (max-width: 1024px) {
  .wrapper main .detail_wrapper .inner_detail .collection_wrapper h3 {
    font-size: 80px;
    margin-top: -200px;
    display: grid;
    place-content: center;
    top: 0;
    bottom: unset;
    left: 0;
    right: 0;
    text-transform: uppercase;
    mix-blend-mode: difference;
    opacity: 1;
  }
}
.wrapper main .detail_wrapper .inner_detail .collection_wrapper .items {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100vw;
  position: absolute;
  left: 0;
}
@media screen and (min-width: 1600px) {
  .wrapper main .detail_wrapper .inner_detail .collection_wrapper .items {
    justify-content: space-around;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper main .detail_wrapper .inner_detail .collection_wrapper .items {
    gap: 10px;
    margin-top: 100px;
    flex-wrap: wrap;
    align-items: unset;
    position: unset;
  }
}
.wrapper main .detail_wrapper .inner_detail .collection_wrapper .items figure {
  width: 150px;
  margin: 0;
  opacity: 0;
  transform: translateY(200px) rotate(-10deg);
  transition: all 0.6s cubic-bezier(0.5, 0, 0.5, 1);
}
@media screen and (max-width: 1024px) {
  .wrapper main .detail_wrapper .inner_detail .collection_wrapper .items figure {
    max-width: 180px;
  }
  .wrapper main .detail_wrapper .inner_detail .collection_wrapper .items figure:nth-child(2n) {
    margin-top: 280px;
  }
}
.wrapper main .detail_wrapper .inner_detail .collection_wrapper .items figure.in_view {
  opacity: 1;
  transform: none;
}
.wrapper main .detail_wrapper .inner_detail .collection_wrapper .items figure .img_wrap {
  overflow: hidden;
}
.wrapper main .detail_wrapper .inner_detail .collection_wrapper .items figure .img_wrap > img {
  display: block;
  -webkit-animation: inherit;
          animation: inherit;
  -webkit-animation-name: rotate-img;
          animation-name: rotate-img;
  transition: transform 0.8s cubic-bezier(0.5, 0, 0.5, 1);
}
@-webkit-keyframes rotate-img {
  from {
    transform: scale(1.5) rotate(20deg);
  }
  to {
    transform: none;
  }
}
@keyframes rotate-img {
  from {
    transform: scale(1.5) rotate(20deg);
  }
  to {
    transform: none;
  }
}
.wrapper main .detail_wrapper .inner_detail .collection_wrapper .items figure .img_wrap:hover img {
  transform: scale(1.3);
}
.wrapper main .detail_wrapper .inner_detail .next_link {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .wrapper main .detail_wrapper .inner_detail .next_link {
    margin: 150px 0 50px;
  }
}
.wrapper main .detail_wrapper .inner_detail .next_link a {
  position: relative;
  font-style: italic;
  font-size: 30px;
  pointer-events: all;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.wrapper main .detail_wrapper .inner_detail .next_link a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 10%;
  width: 80%;
  height: 1px;
  background: #000000;
  transition: all 0.3s;
  transform: scale(0, 1);
  transform-origin: center top;
}
.wrapper main .detail_wrapper .inner_detail .next_link a:hover::after {
  transform: scale(1, 1);
}
@media screen and (max-width: 1024px) {
  .wrapper main .detail_wrapper .inner_detail .next_link a {
    font-size: 26px;
  }
}
.wrapper main .detail_wrapper .inner_detail .next_link .hover_img {
  max-width: 400px;
  height: 400px;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  .wrapper main .detail_wrapper .inner_detail .next_link .hover_img {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper header nav label.mobile_detail {
    color: #000000;
  }
}/*# sourceMappingURL=style.css.map */